.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.amount input{
    width: 400px;
    height: 40px;
    margin-bottom: 5px;
}

.email input{
    width: 400px;
    height: 40px;
}

.form button{
    margin-top: 5px;
    height: 40px;
    cursor: pointer;
}

.form button:active{
    background-color: lightblue;
    color: #fff;
} 
.button{
    margin-top: 5px;
    height: 40px;
    cursor: pointer;
    margin-left:10px;
    background-color: lightgreen;
    
}

.button:active{
    background-color: lightblue;
    color: #fff;
} 

.visibleForm{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.visibleForm input{
    width: 400px;
    height: 40px;
    margin-bottom: 5px;
}

.visibleForm button{
    margin-top: 5px;
    height: 40px;
    cursor: pointer;
}

.visibleForm button:active{
    background-color: lightblue;
    color: #fff;
} 